## File risultanti dalla compilazione LaTeX
*.aux
*.log
*.out
*.pdf
*.gz
*.lof
*.lot
*.synctex(busy)
*.toc
*.bbl
*.blg

## File e cartelle risultanti dalla CI
*.fls
*.fdb_latexmk
Documents*

## File nascosti di macOS
.DS_Store
