## File risultanti dalla compilazione LaTeX/Asciidoc
*.aux
*.log
*.out
*.pdf
*.gz
*.lof
*.lot
*.synctex(busy)
*.toc
*.bbl
*.blg
*.html

## File e cartelle risultanti dalla CI
*.fls
*.fdb_latexmk
Documents*

## File nascosti di macOS
.DS_Store

## File configurazione dell'IDE
.idea
